page-statistic {
	.left, .right, .center {
		display: inline-block;
		width: 33%;
	}
	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}
	.center {
		text-align:center;
		color:white;
		font-size:1.5em;
		font-weight:bold;
		margin:8px;
	}
	.contain {
		
	}
	
	@media (max-width:480px) {
		.left, .right, .center {
			display: block;
			width: 100%;
			text-align:center;
		}
	}
}
