page-tabs{
    .tabs .tab-button{
        font-family: "Helvetica Neue", "Roboto", sans-serif;
        color: #848484;
        border-color: #848484;
        font-weight: bold;
    }
    // .tabs-ios .tab-button[aria-selected=true]{
    //     color: white;
    // }
}