page-home {
$black: #000000;
$white: #ffffff;

$dark-gray: #344760;
$light-gray: #b7bcc3;

$main: #fe8888;


    font-family: Tahoma,Georgia,arial,Verdana,sans-serif;
    .bookcard {
        display: inline-block;
        width: 300px;
        margin-left: 8px;
    }
    .col {
        margin: 0;
        padding: 0;
    }
    .row {
        margin: 0;
        padding: 0;
    }
    .toolbar-background{
        background: white;
    }
    #input-group1{
        display: none;
    }
    #basic-addon1{
        background-image: url(../../assets/images/magnifier.png);
        border-radius: 100%;
        width:32px;
        height: 32px;
        
    }
    #dmanh{
        max-width:70%;
        max-height:70%;
	   // align-items:center;
    }
    

    .input-group-addon{
        background-image: url(../../assets/images/magnifier.png);
        
    }
    .frm{
        border:1px solid #BDBDBD;
        width:100%;
        border-radius:5px;
        background: white;
    }
    .search{
        float:right;
    }
ion-slides {
  height: auto;
}
#abook{
    position: relative;
    -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 2s;
    animation-fill-mode: forwards;
	width: 0px;
    height: 0px;
}
@-webkit-keyframes mymove {
    from {left: -10px; }
    to {left: 0px; }
}

@keyframes mymove {
    from {left: -10px;}
    to {left: 0px;height:50px;width:100%}
}
ion-slide {
  align-items: flex-start !important;
  autoheight:true;
  display:none;
   
}
ion-card ion-card-header{
align:left;
}
#RowCol{

text-transform: uppercase;
width: 400px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;text-align:left;font-weight:bold
}
#RowColNone{
 text-transform: uppercase;
 text-align:left;
 font-weight:bold;
 
 

}
#Col2{
text-align:right;
align-items: flex-start !important;
}
#btnNhap{
margin: 0 0px 0px 0;
height:100%;
width: 100%;
font-size:0.9em;
border-radius: 2px;
height: auto;
font-size: 1.6rem;
font-weight: 400;
line-height: 3rem;
}


.btnnhap{
    width: 70%;
    text-align: center;
    height: 30px;
	text-weight:bold;
}
.segment .segment-button{
    font-family: "Helvetica Neue", "Roboto", "sans-serif";
    color: #848484;
    border-color: #848484;
    font-weight: bold;
    font-size: 18px;
}
.btn-warning:disabled{
   background-color: #F7819F;
   border-color: #F7819F;
	&:before{content: "ĐÃ ";}
    
}
.card-header{
    background: #32db64;
    opacity: 0.9;
    color: white;
    margin: 0;
    height: 40px;
    padding:10px;
    word-wrap:break-word;
    
}

ion-segment{
    background: white;
}
.card-ios{
    border-radius: 8px;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;

}
@media only screen and (max-width: 700px) {
    .bookcard {
        display: block;
        width: 90%;
        margin-left: 8px;
    }

}
.dskhachhang{
    width: 100%;
    background: #32db64;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    text-align:center;
    color:white;
}
.muahang{
    text-transform: uppercase;
    opacity: 0.9;
    background: #32db64;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    color:white;
}
a:hover{
    text-decoration: none;
}
a:active{
    border: none;
    border-color: white;
}
a:visited{
    border: none;
    border-color: white;
}
.dshangmua{
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid #BDBDBD;
    background:#eee;
    border-radius:5px;
    margin-top:10px;
    font-weight: bold;
}
.dsdachon{
    background:#eee;
    border-radius:5px;
    border:1px solid #BDBDBD;
    border-top:none;
}

/* Dành cho điện thoại */
@media all and (min-width: 320px) {
    .cardmd{
        width:100%;
    }
   }
    
   /* Dành cho máy tính bảng */
@media all and (min-width: 600px) {
    .cardmd{
        width:49%;
        margin-right:1%;
        float:left;
    }
    .fixedp{
        position: fixed;
        overflow: auto;
        right: 1.2em;
        height: 600px;
    }
   }

}
