<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="margin:auto;text-align:center;">
  <div style="margin:auto;width:50%;text-align:center;">
    <ion-card>
      <ion-card-header style="background:#f8a;padding-bottom: 0;">
        <div class="center">
          {{date}}/{{time.getMonth() + 1}}/{{time.getFullYear()}}
        </div>
      </ion-card-header>
      <ion-card-content>
        <div (click)="getChart()">
          Lợi nhuận: {{ g[0] |number:'.0-2'}}<br>
          Tổng chi: {{ g[1] |number:'.0-2'}}<br>
          Tổng thu: {{ g[2] |number:'.0-2'}}
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let t of type; let i = index;">
      <div *ngIf="dItem[i].length > 0">
        <ion-card-header>
          {{t}}
          <div>
            Lợi nhuận: {{ dTotal[i][0] |number:'.0-2'}}<br>
            Tổng chi: {{ dTotal[i][1] |number:'.0-2'}}<br>
            Tổng thu: {{ dTotal[i][2] |number:'.0-2'}}
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-item *ngFor="let item of dItem[i]; let i2 = index;">
            <span>
              {{i2 + 1}}. {{item.DateINP | date: "HH:mm"}}
            </span>
            <span *ngIf="item.type == 'import'" color="primary">
                Nhập
            </span>
            <span *ngIf="item.type == 'sold'" color="secondary">
                Bán
            </span>
              {{books[item.key].Title}} [{{item.number}}] - {{item.PersonINP}}
          </ion-item>
        </ion-card-content>
    </div>
      <div *ngIf="dItem[i].length == 0">
        <ion-card-header>
          {{t}}
          <div (click)="getChart()">
            Không có số liệu
          </div>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </div>
    </ion-card>
    </div>
</ion-content>
